/** Respsonsive adjustments **/
#logo-lg {
  max-width: 100%;
}

@media (min-width: 980px) {
  body {
    padding-top: 0;
  }
}
@media (max-width: 767px) {
  body {
    padding-left: 10px;
    padding-right: 10px;
  }
  body .navbar-fixed-top, body .navbar-fixed-bottom, body .navbar-static-top {
    margin-left: -10px;
    margin-right: -10px;
  }
}

#menu {
  position: relative;
  z-index: 100;
}

@media (max-width: 979px) {
  .nav-collapse.collapse {
    position: absolute;
    top: 52px;
    width: 100vw;
    margin: 0 0 0 -5px;
  }
}
@media (max-width: 767px) {
  #searchcontainer {
    min-width: auto;
    max-width: 100%;
  }
}
#searchcontainer .control-group .controls .dropdown-backdrop {
  display: none;
}
@media (max-width: 767px) {
  #searchcontainer .control-group .controls button {
    font-size: 14px;
    width: 44%;
  }
  #searchcontainer .control-group .controls button .caret {
    margin-top: 9px;
    margin-right: 0;
    margin-left: -5px;
  }
  #searchcontainer .control-group .controls button#button_search, #searchcontainer .control-group .controls button #button_options {
    width: 28%;
  }
}
#searchcontainer .control-group .dropdown-menu {
  left: auto;
  right: 0;
}

@media (max-width: 979px) {
  #searchpopup1 {
    max-width: 100%;
  }
}
@media (max-width: 979px) and (max-width: 767px) {
  #searchpopup1 {
    top: 40px;
  }
}
@media (max-width: 979px) {
  #searchpopup1 form {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0;
  }
}

@media (min-width: 980px) {
  #piler1.container, #piler1.container-fluid {
    margin-top: 60px;
  }
}

@media (max-width: 767px) {
  #mainscreen {
    min-width: auto;
    max-width: 100%;
    left: 10px;
    right: 10px;
  }
}
@media (max-width: 767px) {
  #mainscreen #mailcontframe table#results th, #mainscreen #mailcontframe table#resultstable th {
    line-height: normal;
    font-size: 14px;
    white-space: nowrap;
  }
  #mainscreen #mailcontframe #pagingrow, #mainscreen #mailcontframe #functionrow {
    height: auto;
    min-height: 33px;
  }
}
@media (max-width: 767px) {
  #mainscreen #mailcontframe #messagelistfooter #functionrow #functionbox {
    float: none;
    width: 100%;
  }
  #mainscreen #mailcontframe #messagelistfooter #functionrow #functionbox a.btn-custom {
    padding: 9px;
    height: auto;
  }
  #mainscreen #mailcontframe #messagelistfooter #functionrow #functionbox .add-on {
    width: 40%;
  }
  #mainscreen #mailcontframe #messagelistfooter #functionrow #functionbox #tag_value {
    min-width: auto;
    max-width: none;
    width: calc(58% - 96px);
  }
}
#mainscreen #mailpreviewframe #notesbox {
  display: none;
}
@media (max-width: 767px) {
  #mainscreen #mailpreviewframe .messageheader, #mainscreen #mailpreviewframe #notesbox {
    position: static;
  }
  #mainscreen #mailpreviewframe #notesbox {
    top: auto;
    right: auto;
    max-width: 100%;
    overflow: hidden;
  }
  #mainscreen #mailpreviewframe #notesbox .add-on {
    display: block;
    text-align: left;
  }
  #mainscreen #mailpreviewframe #notesbox input[type=text] {
    max-width: 70%;
  }
  #mainscreen #mailpreviewframe #notesbox input[type=button] {
    width: calc(30% - 10px);
  }
}

#piler1.container span#A1 {
  display: block;
}
@media (max-width: 767px) {
  #piler1.container {
    max-width: 100%;
    width: auto;
  }
  #piler1.container h2 {
    font-size: 28px;
  }
  #piler1.container h3 {
    font-size: 18px;
    line-height: 26px;
  }
  #piler1.container h3 > strong {
    display: block;
  }
}

/*# sourceMappingURL=responsive.css.map */
